{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block body_block %}

        {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}!</h1>
        {% else %}
        <h1>Hello world!</h1>
        {% endif %}
        <br />
        <span>Welcome to LinkFair</span>
        <br />
        {% if categories %}
            <ol type="A">
            {% for category in categories %}
                <li> <a href = "/linkfair/category/{{category.slug}}/">{{category.name}}</a> </li>
            {% endfor %}
            </ol>
        {% else %}
            <strong>There are no categories present. </strong>
        {% endif %}

{% endblock %}